@model KioskZakat.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noBilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noBilik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kodProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kodProgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kunci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kunci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkoutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkoutTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.noMatric">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
